.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 15.6rem;
  max-width: 120rem;
  margin: auto;
  width: 100%;
}

.logo-img {
  width: 20rem;
  height: 6rem;
}

.btn-primary {
  background-color: #00a2f7;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.8rem 2.1rem;
}
