* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  background-color: #f4fbff;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.content {
  flex: 1;
}
